# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/

# Builds / binaries
dist/
build/
*.spec
desktop/dist/
desktop/build/
desktop/*.spec
desktop/settings.json


# OS junk
.DS_Store
Thumbs.db

# Environment
.env

# Project data
data/
history.json

